<nav class="navbar navbar-expand-lg bg-primary navbar-dark">
    <div class="container">
        <a href="/" class="navbar-brand">Course App</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a href="/kurslar" class="nav-link">Kurslar</a>
                </li>
                <li class="nav-item">
                    <a href="/contact" class="nav-link">İletişim</a>
                </li>
                <li class="nav-item">
                    <a href="/about" class="nav-link">Hakkımızda</a>
                </li>

                {% if user.is_superuser %}
                    <li class="nav-item">
                        <a href="{% url 'create_course' %}" class="nav-link">Kurs Ekle</a>
                    </li>
                    
                    <li class="nav-item">
                        <a href="{% url 'course_list' %}" class="nav-link">Kurs Listesi</a>
                    </li>
                {% endif %}
            </ul>

            <ul class="navbar-nav me-1">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'index' %}" class="nav-link">{{user.username}}</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'change_password' %}" class="nav-link">Parola Güncelle</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'user_logout' %}" class="nav-link">Çıkış Yap</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{% url 'user_login' %}" class="nav-link">Giriş Yap</a>
                    </li>

                    <li class="nav-item">
                        <a href="{% url 'user_register' %}" class="nav-link">Kayıt Ol</a>
                    </li>
                {% endif %}

                

                
            </ul>
            <div>
                <form class="d-flex" action="{% url 'search' %}">
                    <input class="form-control mr-sm-2" type="search" placeholder="Anahtar Kelime" aria-label="Search" name="q">
                    <button size="207" class="btn btn-success my-2 my-sm-0" type="submit">Arama</button>
                </form>
            </div>
        </div>
        

    </div>
</nav>