{% extends 'layout.html' %}
{% load static %}


{% block title %}
    Create Course
{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'courses/css/style.css' %}">
{% endblock css_files %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            
            <!--content-->

            <div class="col-12">
                {% if error %}
                    <div class="alert alert-danger">
                        {{msg}}
                    </div>
                {% endif %}

                <form action="{% url 'create_course' %}" method="POST" novalidate enctype="multipart/form-data">
                    {% csrf_token %}

                    {% include 'partials/_form.html' %}
                    

                    
                        
                    <button type="submit" class="btn btn-primary">Kaydet</button>

                </form>

            </div>

            
        </div>
    </div>

{% endblock %}