{% extends 'layout.html' %}

{% block title %}
Kurslar
{% endblock title %}


{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-3">
            {% include 'courses/partials/_categories.html' %}
            
        
            </div>
            <!--content-->
            <div class="col-9">
            
                
                    {% include 'courses/partials/_course.html' %}
                
            
            </div>
        </div>
    </div>

{% endblock %}