{% extends 'layout.html' %}

{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'courses/css/style.css' %}">
{% endblock css_files %}

{% block title %}
Kurslar
{% endblock title %}



{% block content %}
    <div class="container mt-3">
        <div class="row">
            
            <!--content-->
            <div class="col-12">
                <p>Dosyanız yüklendi..</p>
                    
            </div>
        </div>
    </div>
    
    {% block js_files %}
    <script src="{% static 'courses/js/script.js' %}"></script>
    {% endblock js_files %}
    
{% endblock %}