{% extends 'layout.html' %}

{% block css_links %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

{% endblock css_links %}

{% block title %}
Anasayfa
{% endblock title %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        
        <!--menu-->
        
        <div class="col-3">
            {% include 'courses/partials/_categories.html' %}
            </div>
        <div class="col-9">
        <!--content-->
        <h1>Anasayfa</h1>
        </div>
    </div>
</div>
{% endblock %}
