{% extends 'layout.html' %}

{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'courses/css/style.css' %}">
{% endblock css_files %}

{% block title %}
Giriş Yap
{% endblock title %}



{% block content %}
    <div class="container mt-3">
        <div class="row">
            
            <!--content-->
            <div class="col-12">
                <h1>Şifreyi Değiştir</h1>
                <hr>
                <form action="{% url 'change_password' %}" method="POST" novalidate>
                    {% csrf_token %}
                   
                    {% include 'partials/_form.html' %}
                    <br>
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </form>
            </div>
        </div>
    </div>
    
    {% block js_files %}
    <script src="{% static 'courses/js/script.js' %}"></script>
    {% endblock js_files %}
    
{% endblock %}  