{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    
    {% block css_files %}
    {% endblock css_files %}
    <title>CourseApp | {% block title %}{% endblock title %}</title>

</head>
<body>
    
    {% include 'partials/_messages.html' %}
    <!--navbar-->
    {% include 'partials/_nav.html' %}

    {% block content  %}
    {% endblock content  %}
    



    

    <script src="{% static 'js/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>
</body>
</html>